<!DOCTYPE html>
<html>
<head>
    <title>{$title}</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../script.js"></script>
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">idx</a></li>
                    <li><a href="https://misopog.xyz">~</a></li>
                </ul>
            </nav>
            <hr>
        </header>
	<div class="title">
	 <h1 class="posttitle">{$title}</h1>
	 <p class="date">Date added: {$date}</p>
	</div>
	{$content}
        {$footer}
    </div>
</body>
</html>
